.Rproj.user
.Rhistory
.RData
.Ruserdata
**/archive
**/results
**/data
**/output
analyze_categorical_data.Rproj
mca.R
notes_analyze_latrine_owner_surveys.txt
old_unused_scripts.R
clean_data_iDE_Oct2017.R
iDE_Oct2017.RData
freq_custom.R
01_diet_otu_relationships.R
tidyvsereTutorial_copy.R
riskLinearModelWorkshop.csv
mapping_all_samples_COMPLETE.csv
*.Rproj
